{% extends app.request.xmlHttpRequest
? '::dashboard-ajax.html.twig'
: '::dashboard.html.twig' %}

{% block content %}
    <h3 class="page-title">
        {% block action_title %}
            {{ ("labels.label_" ~ action|default('create'))|trans() }}
        {% endblock %}
    </h3>

    {% block form %}
        {{ form_start(form, {'attr': {'novalidate' : 'novalidate'} }) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
    {% endblock %}
{% endblock %}
